{{title}}

<div>
  <button (click)="onClickComponent()">Insert component</button>
  <button (click)="onClickTemplate(declaratedTemplateRef)">Insert template</button>
  <button (click)="onClickClear()">Clear</button>
</div>

<ng-container #viewContainer></ng-container>
<ng-container *ngComponentOutlet="component$ | async; injector: componentInjector"></ng-container>
<ng-container *ngTemplateOutlet="declaratedTemplateRef; context: {$implicit: 'Egor', adres: 'Dom'}"></ng-container>

<ng-template #declaratedTemplateRef let-name let-test="adres">
  <h3>Its template: {{name}} - {{test}}</h3>
  <app-declarated></app-declarated>
</ng-template>